{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonatrach Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <img src="{% static 'images/f1.png' %}" alt="Sonatrach Logo" class="logo">
        <h2>Register</h2>
        {% if messages %}
            {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'accounts:login' %}">Login here</a></p>
    </div>
</body>
</html>